/**
 * @file
 * Basic styling for the Commerce RMA module.
 */

/**
 * Override the default CommerceReturn settings form.
 */
#commerce-return-settings .form-item-return-period-unit,
#commerce-return-settings .form-item-return-period-granularity {
    display: inline;
}

#commerce-return-settings .form-item-return-period-unit > input {
    width: inherit;
}